/* ======================= COLORS ======================= */

farben: #efe8d7, #042a5a, #f4c4c4, #282b29, #7d2222, #deb873, #d2d2d2, #388883;

/* ======================== FONTS ======================= */
@font-face {
	font-family: athene;
	src: url(../fonts/Athene.otf);
}

@font-face {
	font-family: open-sans;
	src: url(../fonts/OpenSans-Regular.ttf);
}

/* ======================== BASIC ======================= */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: open-sans;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/* ===================== SECTION-NAV ==================== */

.section-nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #042a5a;
	padding: 11px 11.5% 14px;
	text-transform: uppercase;
}

.section-nav p {
	position: relative;
	font-size: 1.8rem;
	letter-spacing: -0.1rem;
	line-height: 2.451rem;
}

.section-nav p span {
	font-style: italic;
	right: 4.7px;
	position: relative;
}

.section-temporary {
	margin: 0 10%;
}

.section-temporary h1 span {
	display: flex;
	justify-content: center;
	font-size: 16rem;
	font-family: athene;
	font-weight: 400;
	line-height: 22.8rem;
	text-transform: uppercase;
	border-bottom: 2px solid #042a5a;
}

.section-temporary h1 span p {
	width: 19.6rem;
	color: #042a5a;
	background-color: aquamarine;
	/* 	display: inline-block;
	margin: 0 4rem; */
	border-right: 1px solid #042a5a;
}
